
.cartStyle{
    border-radius: 20px;
    background-color: rgb(241, 241, 241);
    margin-top: 40px;
    padding: 10px;
    box-shadow: 5px 5px 10px grey;
    height: 380px;
    width: 260px;
    color: black;
    text-align: center;
    margin-left: 30px;
}