#btn{
    background-color: #4b98f0;
    border-color: #424de4 #4c55d6 #4946e9;
    color: #111;
    width: 200px;
    height: 50px;
    border-style: solid;
    border-width: 1px;
    cursor: pointer;
    border-radius: 3px;
    vertical-align: middle;
    font-weight: 700;
}
#btn:hover{
    background-color:#20b2aa;
    border-color: #4faca7 #4faca7 #4faca7;
}
