.playerStyle{

        border-radius: 20px;
        background-color: rgb(214, 214, 214);
        margin: 50px;
        padding: 10px;
        box-shadow: 5px 5px 10px rgb(143, 143, 143);
        height: 550px;
        width: 300px;
        color: black;
        display:float;
        text-align: "center";
}
.playerStyle:hover{
        background-color:rgb(251, 250, 250);
}
